<div class="h-100 flex-grow-1 backgound-game">
    <div class="container" v-if="enemyExist">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="col mt-3">
                    <div class="d-flex justify-content-between">
                        <img src="@/assets/interface/HP/basic/heart.png" class="ml-4" height="35px;" style="z-index:12;" id="heartPlayer" >
                        <div class=" mr-2 " id="playerHP"></div>
                        <div class=" ml-5 " id="enemyHP"></div>
                        <img src="@/assets/interface/HP/basic/heart.png" class="mr-5" height="35px;"  style="z-index:12;"  id="heartEnemy">
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="d-flex justify-content-between pt-4" v-if="!gameStart">
                        <span class="mr-5 pr-3 text-warning ml-5 pt-3 pb-2">{{playerStatus}}</span>
                        <span class="mr-5 pr-3 text-warning pt-2 pb-2">{{enemyStatus}}</span>
                    </div>
                    <div v-else class="d-flex justify-content-between pt-4">
                        <span class="mr-5 pr-3 text-warning ml-5">{{playerStatus}}</span>
                        <span class="mr-5 pr-3 text-warning">{{enemyStatus}}</span>
                    </div>
                </div>
                <div class="col pb-2">
                    <div class="d-flex justify-content-between">
                        <img :src="getCharacterAvatar" height="100px;">
                        <img :src="getRandomCharacter" height="100px;" class="enemy mr-3">
                    </div>
                </div>
                <div class="col pb-1" v-if="!gameStart">
                    <div class="d-flex flex-wrap mr-4">
                        <div class="text-warning h4 col-12">{{gameStatus}}</div>
                        <div class="text-warning h4 col-12">{{experienceEarned}}</div>
                        <div class="text-warning h4 offset-1 col-10 d-flex justify-content-between">
                            <img src="@/assets/interface/buttons/close.png" style="height: 50px;" @click="cancelGame()">
                            <img src="@/assets/interface/buttons/reload.png" style="height: 50px;" @click="reloadGame()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" v-else>
        <div class="row h-100">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="spinner-border text-warning" role="status">
                    <div class="sr-only"></div>
                </div>
                <div class="text-warning h4 ml-3">Searching for enemy...</div>
            </div>
        </div>
    </div>
</div>